body {
  font-family: sans-serif;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 16px;
  font-weight: bold;
  height: 25px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 25px;
  background: #bbb;
}

.bg-color, .bg-color- {
  color: #fff;
  background: #fff;
}

.bg-colorF {
  color: #F00;
  background: #fff;
}

.bg-colorx {
  background: #000;
  color: #fff;
}

.bg-color0 {
  color: #bbb;
}

.bg-color1 {
  color: #00f;
}

.bg-color2 {
  color: #0b0;
}

.bg-color3 {
  color: #f00;
}

.bg-color3 {
  color: #f00;
}

.bg-color4 {
  color: #b00;
}

.bg-color5 {
  color: #b00;
}

.bg-color6 {
  color: #0ff;
}

.bg-color7, .bg-color8, .bg-color9 {
  color: #000;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.win-or-lose {
  margin: 10px;
}

.show-answer-button {
  margin: 10px;
}

.difficulty-picker {
  margin: 10px;
}

.flag-counter {
  margin: 10px;
}
